/**
 * Stylesheet of IGTPrototypingTool
 * Can be extended to modify appearance of UI elements.
 * 01.12.2020
 */
.success-message {
	-fx-text-fill: green;
}

.error-message {
	-fx-text-fill: red;
}

.error-textfield {
	-fx-border-color: red;
	-fx-border-radius: 5px;
}

.green-toggle-button:selected {
	-fx-background-color: rgba(38, 255, 0, 0.4);
	-fx-border-color: blue;
}