name: Deploy Javadoc

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write
  pages: write
  
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Javadoc 
        uses: MathieuSoysal/Javadoc-publisher.yml@v2.5.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          javadoc-branch: javadoc
          java-version: 21
          target-folder: docs 
          project: gradle
